{#
 # -------------------------------------------------------------------------
 # News plugin for GLPI
 # -------------------------------------------------------------------------
 #
 # LICENSE
 #
 # This file is part of News.
 #
 # News is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation; either version 2 of the License, or
 # (at your option) any later version.
 #
 # News is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with News. If not, see <http://www.gnu.org/licenses/>.
 # -------------------------------------------------------------------------
 # @copyright Copyright (C) 2015-2023 by News plugin team.
 # @license   GPLv2 https://www.gnu.org/licenses/gpl-2.0.html
 # @link      https://github.com/pluginsGLPI/news
 # -------------------------------------------------------------------------
 #}

{% extends "generic_show_form.html.twig" %}
{% import 'components/form/fields_macros.html.twig' as fields %}


{% set params  = params ?? [] %}

{% block form_fields %}

    {# Horizontal mode solve a few layout problems for this page, such as displaying
       properly a field on an entire row or splitting the layout into 3 columns
       without losing too much space #}
    {% set base_option = {
        'is_horizontal' : false,
    } %}
    {% set base_option_small = {
        'field_class' : 'col-xxl-4 col-xl-6',
    }|merge(base_option) %}

    {{ fields.textField(
        'type',
        item.fields.type,
        __('Car Type', 'iistools'),
        base_option
    ) }}

    {{ fields.dropdownYesNo(
        'color',
        item.fields.color,
        __('Car Color', 'iistools'),
        base_option
    ) }}

    {{ news_fields.colorField(
        "color",
        colors,
        item.fields.color,
        __('Emphasis color', 'news'),
        base_option_small
    )}}

    {{ fields.textareaField(
        'license_plate',
        item.fields.license_plate,
        __('license plate', 'iistools'),
        {
            'full_width': true,
            'enable_richtext': true,
            'enable_images'  : false,
        }|merge(base_option)
    ) }}



    <div class="hr-text">
        <i class="ti ti-palette"></i>
        <span>{{ __('Customization', 'iistools') }}</span>
    </div>

    <div class="alert-preview">
    </div>

    

{% endblock %}

